{% extends 'base.html' %}

{% block title %}Criar Tarefa{% endblock %}

{% block content %}
    <h2>Adicionar Nova Tarefa</h2>
    <form action="{{ url_for('routes.add_task') }}" method="POST">
        <label for="task_title">Título da Tarefa:</label>
        <input type="text" id="task_title" name="titulo" required>
        <label for="task_desc">Descrição:</label>
        <input type="text" id="task_desc" name="descricao" required>
        <button type="submit">Adicionar Tarefa</button>
    </form>
    <a href="{{ url_for('routes.home')}}">Voltar para a Lista de Tarefas</a>
{% endblock %}
